@import "font.css";

/* Opciones */

#options {
	background: #f4f4f4;
  width: 90%;
  padding: 0 7px;
	max-width: 700px;
  min-width: 500px;
	margin: 0 auto;
	color: #555;
  font-size: 14px;
}
#options header {
	color: #fff;
	background: #3D7EDB;
	padding: 10px;
}
#options #content h2 {
	border-left: 10px solid #3D7EDB;
	padding-left: 5px;
	color: #444;
}
#options .login-alert {
	background: rgba(255, 0, 0, 0.5);
	color: white;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	margin: 10px auto;
}
#options dl, div.user {
	padding: 10px;
	background: #f8f8f8;
}
#options dl dd, dl dt {
	display: inline-block;
	vertical-align: top;
}
#options dl dt {
	width: 30%;
}
#options dl dt small {
	display: block;
	font-size: 12px;
	width: 70%;
	color: #999;
}
#options dl dd {
	width: 60%;
	margin-left: 1%;
}
#options dl dd label {
	font-size: 14px;
}
#options .option-row {
	padding: 8px 5px;
	border-bottom: 1px solid #eee;
	position: relative;
}
#options .option-row:last-child {
	border-bottom-color: transparent;
}
#options .user {
	text-align: center;
}
#options .user .option-row input {
	border: 1px solid #BAC0E4;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 3px 3px;
	font-family: "Roboto";
	transition: all 0.2s;
	margin: 0 0 5px;
	font-size: 13px;
}
#options .option-row .forget-user, #options .option-row .remember-user {
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	padding: 4px 8px;
	border-radius: 3px;
	transition: all 0.2s;
	white-space: nowrap;
}
#options .option-row .remembered-user {
	display: none;
	background: #3D7EDB;
	padding: 5px 5px 5px 8px;
	border-radius: 3px;
	color: white;
	transition: all 0.2s;
	cursor: default;
}
#options .option-row .remembered-user .remembered-user-fullname {
	margin-left: 5px;
}


#options .option-row .remembered-user .username {
	opacity: 0.9;
	display: inline;
	margin-left: 5px;
}
#options .option-row .forget-user {
	background: #ddd;
	color: #333;
	opacity: 0.5;
	transition: all 0.2s;
}
#options .option-row .remember-user {
	background: #3D7EDB;
	color: #fff;
}
#options .option-row .forget-user:hover {
	opacity: 1;
	color: #333;
}
#options .option-row select {
	margin: 10px 0;
}
#options .option-row #option-siding-login-box {
	margin: 5px 0 5px 1.4em;
	display: none;
}
#options .option-row #option-siding-login-box.displayedbox {
	display: block;
}
#options .option-row #option-siding-login-box input {
	display: inline-block;
	width: 100px;
	border: 1px solid #BAC0E4;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 3px 3px;
	font-family: "Roboto";
	transition: all 0.2s;
}
#options .option-row #option-siding-login-box input:hover, #options .option-row #option-siding-login-box input:focus {
	outline: none;
	border-color: #6084E4;
}
#options .option-row #option-siding-login-box input::-webkit-input-placeholder {
	font-style: italic;
	color: #ddd;
}
#options .option-row #option-siding-login-box .option-siding-login-showpassword {
	font-size: 10px;
	margin-left: 5px;
	color: #aaa;
	text-decoration: underline;
	opacity: 0.1;
	transition: all 0.2s;
}
#options .option-row #option-siding-login-box .option-siding-login-showpassword.active {
	opacity: 1;
}

#options .facebook-link {
  position: relative;
  background: #3D7EDB;
  padding: 15px 20px;
  color: white;
  margin: 40px auto 10px;
  width: 60%;
  border-radius: 2px;

}

#options .facebook-link a {
  color: inherit;
  text-decoration: none;
}

#options .facebook-link img {
  width: 60px;
  height: auto;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 15px 0 0;
  transform-origin: 50% 150%;
}

#options .facebook-link a:hover img {
  -webkit-animation: shakeit 0.3s infinite cubic-bezier(.17,.67,.75,1.3);
}

#options .facebook-link span {
  display: inline-block;
  font-size: 18px;
  width: calc(100% - 80px);
  text-align: center;
}
#options footer {
	margin-top: 20px;
	color: #eee;
	font-size: 12px;
	text-align: center;
}
#options footer p {
	margin: 5px auto;
}
#options footer small {
	opacity: 0.2;
}

@-webkit-keyframes shakeit {
  0% {
    transform: scale(1);
  }

  25% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(-3deg);
  }

}
