@import "font.css";

#popup {
	width: 230px;
	background: #f4f4f4;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#popup header {
	background: #3D7EDB;
	color: #fff;
	position: relative;
  padding: 2px 0;
}

#popup header h1 {
	display: inline-block;
	padding: 0;
	margin: 2px 3px;
	font-size: 12px;
	font-weight: 500;
}

#popup header .user-logged {
  color: white;
  text-decoration: none;
  border-left: 1px solid #fff;
  padding-left: 5px;
}

#popup header #close {
	position: absolute;
	top: 5px;
	right: 3px;
	opacity: 0.7;
	transition: all 0.2s;
}

#popup header #close img {
  height: 12px;
  width: auto;
}
#popup header #close:hover {
	opacity: 1;
}

#popup .loader {
	border: 3px solid transparent;
	position: absolute;
	width: 40px;
	height: 40px;
	border-top-color: #3D7EDB;
	border-bottom-color: #3D7EDB;
	border-radius: 100%;
	box-sizing: border-box;
	top: 28px;
	left: 92px;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
}

#popup .loader.gone {
	-webkit-animation: loader 1.3s cubic-bezier(.2,.7,.8,.3) infinite;
}

@-webkit-keyframes loader {
	0% {
		opacity: 0.5;
		-webkit-transform: rotateZ(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: rotateZ(180deg);

	}

	100% {
		opacity: 0.5;
		-webkit-transform: rotateZ(360deg);
	}
}

#popup #content {
	transition: all 0.2s;
	position: relative;
	z-index: 2;
}



#popup #content.gone {
	opacity: 0;
	pointer-events: none;
	-webkit-transform: rotateX(30deg);
}

#popup #content .text-inputs {
	text-align: center;
	margin: 5px auto;
}

#popup #content .text-inputs input {
	display: inline-block;
	width: 100px;
	border: 1px solid #BAC0E4;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 3px 3px;
	margin-left: 5px;
	text-transform: lowercase;
	font-family: "Roboto";
	transition: all 0.2s;
}

#popup #content .text-inputs input:first-child {
	margin-left: 0;
}

#popup #content .text-inputs input:hover,
#popup #content .text-inputs input:focus {
	outline: none;
	border-color: #3D7EDB;
}

#popup #content .text-inputs input::-webkit-input-placeholder {
	font-style: italic;
	color: #ddd;
}


#popup #content .service-inputs {
	text-align: center;
	position: relative;
	overflow: hidden;
  margin: 10px 0 15px;
}

#popup #content .service-inputs input {
	opacity: 0;
	position: absolute;
	top: -100px;
	left: -100px;
}

#popup #content .service-inputs label {
	color: #fff;
	display: inline-block;
	padding: 3px 4px;
	margin: 0 0 3px 3px;
	background: #3D7EDB;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.2s;
	opacity: 0.5;
}

#popup #content .service-inputs label:first-child {
	margin-left: 0px;
}

#popup #content .service-inputs label:hover,
#popup #content .service-inputs label.labelchecked {
	opacity: 1;
}

#popup #content .service-inputs input#siding,
#popup #content .service-inputs label[for="siding"],
#popup #content .service-inputs input#labmat,
#popup #content .service-inputs label[for="labmat"],
#popup #content .service-inputs input#aleph,
#popup #content .service-inputs label[for="aleph"] {
	display: none;
}

#popup .options-link {
	bottom: 0;
	right: 2px;
	position: absolute;
	opacity: 0.1;
	z-index: 3;
	transition: 0.2s opacity;
}

#popup .options-link:hover {
	opacity: .6;
}

#popup .options-link img {
	width: 14px;
}

#popup #content #btnsub {
	display: none;
}
